@import '~@angular/material/theming';

@mixin stats-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  stats {
    .title {
      color: mat-color($primary);
    }
  }
}
