table.players {
  table-layout: fixed;
  margin-top: 2rem;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 10px;
  td {
    vertical-align: middle;
  }
}

.main.section {
  padding-top: 2rem;
}

.notification {
  position: fixed;
  z-index: 200;
  top: 20px;
  left: 10px;
  right: 10px;
}